[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchainhub = "*"
langchain-pinecone = "*"
black = "*"
qrcode = "*"
langchain-experimental = "*"
langchain-ollama = "*"
pillow = "*"
pyqrcode = "*"
pandas = "*"
langchain-anthropic = "*"

[dev-packages]

[requires]
python_version = "3.9"
